# exclude all by default

*

# exceptions from `exclude all` rule

!.yarn/**
!.yarnrc.yml
!package.json
!yarn.lock

!tsconfig.json
!webpack/**
!src/main/**
!config/**
!webpack.config.js
!.git
!createVersionFile.js
!version

!.yarn/
!.yarn/plugins/
!.yarn/releases/
!src/
!src/main/
!config/
!webpack/
.yarn/cache
.yarn/install-state.gz

!app
!app/**
!public
!public/**
